<div class="background-image">
    <h1>Book Store</h1>

    <!-- Filtros de búsqueda -->
    <div class="filter-container">
        <!-- Campo de búsqueda -->
        <input type="text" [(ngModel)]="searchText" placeholder="Search for ..." class="search-input"/>

        <!-- Selector de filtro -->
        <select [(ngModel)]="filterBy">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="categories">Categories</option>
        </select>
    </div>

    <!-- Lista de libros -->
    <div class="book-list">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aplicamos el Pipe bookFilter a la lista de libros -->
                    <tr *ngFor="let book of books | bookFilter:searchText:filterBy">
                        <td>{{ book["title"] }}</td>
                        <td>{{ book["author"]["name"] }}</td>
                        <td>{{ categoriesToString(book['categories']) }}</td>
                        <td>
                            <span *ngFor="let category of book['categories']">
                                <button *ngIf="category?.name" (click)="removeCategory(book, category.name)">
                                    X
                                </button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>